{% extends 'base.html' %}

{% block title %}
    <title>Retrospection</title>
{% endblock title %}

<body>
{% block content %}
    <div class = "input"> 
        
        <h1 id = "whatsup">What's going on inside that sharp brain of yours?</h1>
        <div class = "thought">
        <br>
		<form method = "POST">
			{% csrf_token %}
        <textarea placeholder = "The most precious thing are our thoughts which define us." rows = "5" cols = "60" name = "thought"></textarea><br>
        </div><br>
        <button><a type = "button" class = "submit" href = "">Submit</a></button>
		</form>
		<br>
    <h2>Did you know that there's a greater possibility that you'll get a task done if you write it down?<br><a/></h2>
	<h2>Read more about it <a href = "https://www.forbes.com/sites/markmurphy/2018/04/15/neuroscience-explains-why-you-need-to-write-down-your-goals-if-you-actually-want-to-achieve-them/?sh=268400857905">here.</a></h2>
    </div>

{% endblock content %}

</body>
</html>