{% extends 'base.html' %}


{% block title %}
	<title>Look</title>
{% endblock title %}

{% block content %}
    <div class = "results">
    <form method = "GET" >
        <h1>Till now, you thought of writing- </h1>
        <table class="table">
            <thead class = "thead-dark">
                <tr>
                    <td>Thought</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                {% for obj in data%}     
                <tr>
                    <td scope="row">{{ obj.thought }}</td>
                    <td>{{ obj.date.date}}</td>
                </tr>
                {% endfor %}

    </tbody>
        </table>
    <h2 id = "quote"> If you took the time and made effort to write something down, it must be important!</h3>
    </div>

{% endblock content %}
