{% extends 'base.html' %}


    
    

{% block title %}
	<title>Look</title>
{% endblock title %}

{% block content %}
    <div class = "results">
    <form method = "GET" >
        <h3>Till now, you thought of writing- </h3>
        <table>
            <thead>
                <tr>
                    <td>Thought</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                {% for obj in data%}     
                <tr>
                    <td scope="row">{{ obj.thought }}</td>
                    <td>{{ obj.date.date}}</td>
                </tr>
                {% endfor %}

    </tbody>
    
        </table>
        <br>
        <h2 class="h5"> If you took the time and made effort to write something down, it must be important!</h2>
    
    </div>
    <br><br>
    <div>

    {% block stylesheet %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock stylesheet %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

    </div>

    

    
{% endblock content %}



<!--

<div>



    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="?pg=1">Previous</a></li>
            
            {% if data.has_previous %}
                <li class="page-item"><a class="page-link" href="?pg={{ data.previous_page_number }}">{{ data.previous_page_number }}</a></li>
            {% endif %}
            
            <li class="page-item"><a class="page-link" href="?pg={{ data.number }}">{{ data.number }}</a></li>
            <li class="page-item"><a class="page-link" href="?pg={{ data.next_page_number }}">{{ data.next_page_number }}</a></li>
            
            {% if data.has_next %}
                <li class="page-item"><a class="page-link" href="?pg={{ data.paginator.num_pages }}">Next</a></li>
            {% endif %}
        
        </ul>
    </nav>

    </div>


    -->