{% extends 'base.html' %}

{% block title %}
    <title>Retrospection</title>
{% endblock title %}


{% block content %}
    <div class = "body">
    <h2>Select the range of time in which you wrote something here</h2>
    <br><br>
    <form method = "POST" enctype= multipart/form-data>
        {% csrf_token %}
        <div class = "lookback"
        <label for = "time"></label>
        <select name = "time" id = "time">
            <option value = "today">Today</option>
            <option value = "yesterday">Yesterday</option>
            <option value = "lastweek">Last Week</option>
            <option value = "lastmonth">Last Month</option>
            <option value = "lastyear">Last Year</option>
            <option value = "forever">Forever</option>
        </select>
            <button><a type= "button" class = "Look" id = "look" href = "">Look Back?!</a></button>
        </form>
    <br><br><br>
    <h3>Will you look back on life and say "I wish I had" or "I'm glad I did?"<br><br>
    </div>
    </div>
{% endblock content %}
