{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <title>ThoughtCloud!</title>
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/submit.css' %}">
    </head>

    <body>
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href="{% url 'tcloud' %}">
                    <strong>&laquo;Home</strong>
                </a>
                <span class="right">
                    <a href="">
                        <strong></strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div>

        <div class = "submitted">
            <h1>Your thought is successfully saved to your personal diary!</h1>
            <br><br>
            <h1>Would you like to add another one to your list?<h1>
        </div>

        <button><a href = "{% url 'tcloud' %}">Yes!</a></button>


