{% extends 'base.html' %}


    
    

{% block title %}
	<title>Look</title>
{% endblock title %}

{% block content %}
    <div class = "results">
    <form method = "GET" >
        <h3>Till now, you thought of writing- </h3>
        <table>
            <thead>
                <tr>
                    <td>Thought</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                {% for obj in data%}     
                <tr> 
                    <td scope="row">{{ obj.thought }}</td>
                    <td>{{ obj.date.date}}</td>

                    <td>|| <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Edit</button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method = "POST" enctype= multipart/form-data "{% url 'edit' obj.id %}">
			                        {% csrf_token %}
                                    <textarea style="resize:none" type = "text" placeholder = "The most precious thing are our thoughts which define us." rows = "5" cols = "40" name = "thought" required></textarea><br>
                            </div><br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a type = "button" class = "submit" href = "{% url 'edit' obj.id %}"><button type="button" class="btn btn-primary submit">Save changes</button></a>

		                        </form>
                            </div>
                            </div>
                        </div>
                        </div>
                    </td>
                        
                    <td>|| <a href = "{% url 'delete' obj.id %}"><button type="button" class="btn btn-outline-warning btn-sm"><p class="text-warning">Delete</p></button></a></td>
                </tr>
                {% endfor %}

    </tbody>
    
        </table>
        <br>
        <h2 class="h5"> If you took the time and made effort to write something down, it must be important!</h2>
    
    </div>
    <br><br>
    <div>

    {% block stylesheet %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock stylesheet %}


    </div>

    

    
{% endblock content %}



<!--

<div>



    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="?pg=1">Previous</a></li>
            
            {% if data.has_previous %}
                <li class="page-item"><a class="page-link" href="?pg={{ data.previous_page_number }}">{{ data.previous_page_number }}</a></li>
            {% endif %}
            
            <li class="page-item"><a class="page-link" href="?pg={{ data.number }}">{{ data.number }}</a></li>
            <li class="page-item"><a class="page-link" href="?pg={{ data.next_page_number }}">{{ data.next_page_number }}</a></li>
            
            {% if data.has_next %}
                <li class="page-item"><a class="page-link" href="?pg={{ data.paginator.num_pages }}">Next</a></li>
            {% endif %}
        
        </ul>
    </nav>

    </div>






<nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>




    -->