{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <title>ThoughtBook!</title>
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href="index.html">
                    <strong>&laquo;Home</strong>
                </a>
                <span class="right">
                    <a href="">
                        <strong></strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div>

        <div class = "input">
        <button><a href = "index.html">Yes!</a></button>
        </div>

