html{
	height: 100%;
}
body{
    color: rgb(40, 40, 58);
    background-color: rgb(0, 0, 0, 1);
	background-image: url(../images/bg4.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
	padding: 0;
	background-position-y:-250px;
	background-attachment: fixed;
    
}

.topnav {
    background-color:rgb(0, 0, 0, 0);
    overflow: hidden;
	border-color: rgb(235, 214, 186)74);
	background-size: cover;
	margin: 1%;
	
  }
  
  /* Style the links inside the navigation bar */

  .topnav button {
	float: left;
	background-color: rgb(0, 0, 0, 0.05);
    color: #a08e8e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 20px;
    border-radius:  5px;
	border-color: rgb(190, 169, 144);
	margin: auto;
	max-width:40%; /* 30 % */
	min-width: 9%;


	.topnav left active{
		text-decoration: none;

	}
	.topnav button a{
		text-decoration: none;
	}
	
  }
  .topnav .right button{
	float: right;
	text-decoration: none;
	font: normal 20px 'Cookie', cursive;
	margin: 0;
	color:  #e3e5e9;

  }
  
  /* Change the color of links on hover */
  .topnav button a:hover {
    background-color: rgb(0, 0, 0, 0);
	color: rgb(3, 3, 3);
	text-decoration: none;
  }
  
  /* Add a color to the active/current link */
  .topnav button.active {
    background-color: #4CAF50;
	color: white;
  }
  .topnav button.inactive{
    background-color: #4CAF50;
	overflow: hidden;
	color: #5383d3;
	text-decoration: none;
  }


.topnav button .left{
	color: #5383d3;
	font: normal 20px 'Cookie', cursive;
	margin: 0;
	text-decoration: none;
}
.topnav button .left span{
	color:  #ffffff;
}
.topnav .right button .inactive {
	text-decoration: none;
	color: white;
}



.input{
    color: rgb(207, 212, 230);
    font-size: small;
    font-style:initial;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
	margin: auto;
	top: 50%;
}

.input h2{
	color: rgb(248, 248, 248);
	text-shadow: #33383b;
}

.input h2 a{
	color: rgba(146, 192, 194, 0.541);
}

body .results{
	color: rgb(207, 212, 230);
    font-size: small;
    font-style:initial;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
	margin: auto;
}

body .results table{
	border-radius: 3px;
	padding: 5px;
	background-color:rgb(0, 0, 0, 0.3);
	color: rgba(190, 192, 216, 0.842);
    font-size: medium;
    font-style:initial;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
	margin: auto;
	
}
body .results h2 {
	color:rgba(190, 192, 216, 0.842);
	background-color:rgb(0, 0, 0, 0.3);
}

.body{
    color: rgb(207, 212, 230);
    font-size: x-large;
    font-style:initial;
	font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin: auto;
  }
  #time{
      height: 30px;
      width: 150px;
      text-align: center;
      align-self: center;
      border-radius: 5px;
      }
  #look{
	  text-decoration: none;
	  color: white;
  }
  #look:hover{
	  color: #292c2f;
  }

  .body .lookback button{
	height: 30px;
      width: 150px;
      text-align: center;
      align-self: center;
      background-color: #4CAF50;
      color: white;
	  border-radius: 5px;
	  text-decoration: none;
  }

  .body .lookback button:hover{
	  background-color: rgba(0, 0, 0, 0);
  }

	.input button{
    position: relative; 
    background-color: rgb(78, 94, 117);
    color: #f2f2f2;
    border-color: bisque; 
    top: 60%;  
     /* margin-top: -100px; 
    margin-left: -70px; */
    height: 40px;
    width: 140px; 
	border-radius: 5px;
	
	}
	
	.input button a{
		text-decoration: none;
		color:white;
		height:40px;
		width: 40px;
	}
	
	.input button:hover{
		color: #292c2f;
		background-color: #bca7c99a;
	}

textarea{
    resize: none;
}

.body .lookback h3{
	font-size: medium;
}

.main {
	max-height: 550px;;
	background-color: #292c2f;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
	text-decoration: none;
}
footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color:rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
    font: bold 16px sans-serif;
    padding: 4px 40px;
    margin-top: 50px;
    margin-left: 0%;
	height: 18%;
	text-decoration: none;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:   #5383d3;
	font: normal 36px 'Cookie', cursive;
	margin: 1%;
	text-decoration: dashed;
}
 
.footer-distributed h3 span{
	color:  #ffffff;
	text-decoration: none;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
		text-decoration: none;
	}
 
}

/*body .regform {
	border-radius: 3px;
	padding: 5px;
	background-color:rgb(0, 0, 0, 0.3);
	color: rgba(190, 192, 216, 0.842);
    font-size: medium;
    font-style:initial;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
	margin: auto;
	margin-top: 15px;
	align-self:center;
}*/

body .regform button{
	  height: 40px;
      width: 150px;
      text-align: center;
      align-self: center;
      background-color: #4CAF50;
      color: white;
	  border-radius: 5px;
	  text-decoration: none;
	  margin-bottom: 20px;
}
